#homeContainer {
    background-image: url("../assets/home/home-bg-blur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

/* form - search box */
#homeContainer__searchBox {
    display: flex;
    flex-direction: column;

    background: #eef0f2;
    border-radius: 5px;
    width: 600px;

    box-shadow: rgb(0 0 0 / 8%) 0px 4px 8px 0px, rgb(0 0 0 / 6%) 0px 2px 4px 0px,
        rgb(0 0 0 / 4%) 0px 1px 2px 0px;
}

#homeContainer__searchBox__types,
#homeContainer__searchBox__inputs {
    display: flex;
}

/* search box top title */
#homeContainer__searchBox__types {
    border-bottom: 2px solid #eec643;
    margin-bottom: 30px;
}
#homeContainer__searchBox__types .selected {
    background-color: #eec643;
}
#homeContainer__searchBox__types label button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: FiraSansSemiBold;
    font-size: 1.1em;
    padding: 15px 65px;
}
#buylabel {
    border-top-left-radius: 5px;
}
#homeContainer__searchBox__types input {
    /*input type radio*/
    display: none;
}

/* search box field */
#homeContainer__searchBox__inputs {
    padding: 0 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
/* size of field */
#homeContainer__searchBox__inputs__location {
    width: 55%;
}
#homeContainer__searchBox__inputs__budget {
    width: 40%;
    padding-right: 10px;
}

/* additional link */
#advancedsearch {
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 10px;
}
#ownerlink {
    margin: 0 auto;
}

/* submit button */
#homeContainer__searchBox button[type="submit"] {
    width: 200px;
}

/* ADVICE CONTAINER */
#adviceContainer__content {
    display: flex;
    justify-content: space-between;
}
#adviceContainer__content > a {
    width: 30%;
    text-decoration: none;
    color: #141414;
}
.adviceContainer__article {
    padding: 20px 35px;
    background: #f2f2f2;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 8px 0px, rgb(0 0 0 / 6%) 0px 2px 4px 0px,
        rgb(0 0 0 / 4%) 0px 1px 2px 0px;
    border-radius: 5px;
}
.adviceContainer__article h3 {
    font-family: FiraSansSemiBold;
    margin-bottom: 20px;
    font-size: 1em;
}
.adviceContainer__article__fakelink {
    color: #eec643;
    text-decoration: underline;
    margin-top: 50px;
    font-family: FiraSansMedium;
}

/* LISTING ADVERTISEMENT CONTAINER */
#listingadvertisementContainer {
    background: #f2f2f2;
}
#listingadvertisementContainer__content {
    display: flex;
    justify-content: space-between;
}
#listingadvertisementContainer__content > div {
    width: 45%;
}
#listingadvertisementContainer__content h3 {
    font-size: 1em;
    font-family: FiraSansSemiBold;
    margin-bottom: 30px;
}
.listingContainerBox {
    display: flex;
    justify-content: space-between;
}
.listingContainer {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.listingContainer a {
    font-size: 0.9em;
    text-decoration: underline;
    color: #141414;
    margin: 5px 0;
}
