#homeContainer {
    background-image: url("../assets/home/home-bg-blur.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

/* form - search box */
#homeContainer__searchBox {
    display: flex;
    flex-direction: column;

    background: #eef0f2;
    border-radius: 5px;
    width: 600px;
}

#homeContainer__searchBox__types,
#homeContainer__searchBox__inputs {
    display: flex;
}

/* search box top title */
#homeContainer__searchBox__types {
    border-bottom: 2px solid #eec643;
    margin-bottom: 30px;
}
#homeContainer__searchBox__types .selected {
    background-color: #eec643;
}
#homeContainer__searchBox__types label button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: FiraSansSemiBold;
    font-size: 1.1em;
    padding: 15px 65px;
}
#buylabel {
    border-top-left-radius: 5px;
}
#homeContainer__searchBox__types input {
    /*input type radio*/
    display: none;
}

/* search box field */
#homeContainer__searchBox__inputs {
    padding: 0 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
#homeContainer__searchBox__inputs div {
    height: 40px;
    border-radius: 2.5px;
    border: 1px solid #14141450;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#homeContainer__searchBox__inputs div input {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    background-color: transparent;

    font-family: FiraSansRegular;
    font-size: 1em;

    border: none;
    outline: none;
}
/* size of field */
#homeContainer__searchBox__inputs__location {
    width: 55%;
}
#homeContainer__searchBox__inputs__budget {
    width: 40%;
    padding-right: 10px;
}

/* additional link */
#advancedsearch,
#ownerlink {
    font-size: 0.8em;
    color: #0d21a1;
}
#advancedsearch {
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 10px;
}
#ownerlink {
    margin: 0 auto;
}

/* submit button */
#homeContainer__searchBox button[type="submit"] {
    margin: 35px auto 30px auto;
    width: 200px;
    height: 50px;
    background-color: #eec643;
    border: none;
    border-radius: 5px;
    
    color: #141414;
    cursor: pointer;
    font-family: FiraSansSemiBold;
    font-size: 1.1em;
}
#homeContainer__searchBox button[type="submit"]:hover {
    background-color: #e1bb41;
}
