#publishAdPage {
    margin-top: 100px;
    margin-left: 380px;
    width: 38%;
    padding-bottom: 150px;
    color: #141414;
}
body {
    overflow: hidden;
}
#publishAdPage form {
    width: 100%;
}

button {
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FORM */
form > article {
    margin-bottom: 80px;
    position: relative;
}

#publishAdPage h2 {
    font-family: firaSansSemiBold;
    margin-right: 10px;
}
.top_aditionnal_information {
    font-size: 1em;
    margin-bottom: 10px;
    text-align: justify;
    max-width: 70%;
}
.bottom_aditionnal_information {
    font-size: 0.9em;
    margin-top: 20px;
    text-align: justify;
    max-width: 70%;
}

/* TITLE POPUP */
.title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    width: fit-content;
}
.info_popup_icon {
    margin-right: 10px;
    cursor: pointer;
}
.info_popup {
    /* popup container */
    display: none;
    align-items: center;
    position: absolute;
    left: 100%;
}
.info_popup.active {
    display: flex;
}
.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 8.7px 5px 0;
    border-color: transparent #141414 transparent transparent;
}
.info_popup__text_container {
    border-radius: 5px;
    background: #141414;
    padding: 10px;
    color: #eef0f2;
    font-size: 0.8em;
    border-radius: 5px;
    width: 245px;
    text-align: justify;
}

/* button */
.submitButton {
    width: 35%;
    margin: 40px 0 0 0;
}
.buttonContent,
.buttonDisplayPopup {
    width: 160px;
    height: 55px;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    font-family: firaSansSemiBold;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 1.2em;
    text-align: center;
}
.buttonContent img {
    margin-bottom: 5px;
}
.buttonContent.active {
    background: #eec643;
}

/* ONE LINE */
.contentOneLineButton {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: start;
}
.contentOneLineButton label:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}
.contentOneLineButton label:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}
.contentOneLineButton label:nth-child(3),
.buttonDisplayPopup {
    grid-area: 1 / 3 / 2 / 4;
}
/* ONE LINE TWO BUTTON */
.contentTwoButton {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: start;
}
.contentTwoButton label:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}
.contentTwoButton label:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}
/* MULTIPLES LINES - adds attributs */
#attrSupp .content,
.bigPopup_content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: start;
}

#attrSupp .content .buttonContent,
.bigPopup_content .buttonContent {
    margin-right: 0;
}

#attrSupp .content label:nth-child(1),
.bigPopup_content label:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}
#attrSupp .content label:nth-child(2),
.bigPopup_content label:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}
#attrSupp .content label:nth-child(3),
.bigPopup_content label:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
}
#attrSupp .content label:nth-child(4),
.bigPopup_content label:nth-child(4) {
    grid-area: 2 / 1 / 3 / 2;
}
#attrSupp .content label:nth-child(5),
.bigPopup_content label:nth-child(5) {
    grid-area: 2 / 2 / 3 / 3;
}
#attrSupp .content label:nth-child(6),
.bigPopup_content label:nth-child(6) {
    grid-area: 2 / 3 / 3 / 4;
}
#attrSupp .content label:nth-child(7),
.bigPopup_content label:nth-child(7) {
    grid-area: 3 / 1 / 4 / 2;
}
#attrSupp .content label:nth-child(8),
.bigPopup_content label:nth-child(8) {
    grid-area: 3 / 2 / 4 / 3;
}
#attrSupp .content label:nth-child(9),
.bigPopup_content label:nth-child(9) {
    grid-area: 3 / 3 / 4 / 4;
}
#attrSupp .content label:nth-child(10),
.bigPopup_content label:nth-child(10) {
    grid-area: 4 / 1 / 5 / 2;
}
#attrSupp .content label:nth-child(11) {
    grid-area: 4 / 2 / 5 / 3;
}
#attrSupp .content label:nth-child(12) {
    grid-area: 4 / 3 / 5 / 4;
}
#attrSupp .content label:nth-child(13) {
    grid-area: 5 / 1 / 6 / 2;
}
#attrSupp .content label:nth-child(14) {
    grid-area: 5 / 2 / 6 / 3;
}
#attrSupp .content label:nth-child(15) {
    grid-area: 5 / 3 / 6 / 4;
}

/* INPUTS */
input[type="radio"],
input[type="checkbox"],
input[type="file"] {
    display: none;
}

/* CLASSIC INPUT */
.normalInputManyElements {
    width: 50%;
}

/* textarea */
textarea {
    resize: vertical;
    min-height: 200px;
    box-sizing: border-box;
    width: 70%;
    padding: 10px;
    outline: none;
    font-family: firaSansRegular;
    font-size: 1em;
    border-radius: 2.5px;
    border: 1px solid #14141450;
}

/* submit form */
.submitForm {
    margin: 120px 0;
}
.submitForm p {
    font-size: 0.9em;
    text-align: justify;
    max-width: 70%;
}

/* DROPDOWN */
.content {
    position: relative;
}
.contentDropDown {
    padding: 0 5px 0px 5px;
    position: absolute;
    width: 50%;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.5px;
    z-index: 99;
    display: none;
}
.contentDropDown.active {
    display: block;
}
li {
    list-style-type: none;
}
.contentDropDown li {
    width: 100%;
    padding: 15px 0;
    border-bottom: solid 1px #14141425;
}
.contentDropDown button:last-child li {
    border-bottom: none;
}
.contentDropDown button {
    width: 100%;
    padding: 0 15px;

    text-align: left;
    font-size: 1em;
    cursor: pointer;
}
.contentDropDown button:is(:hover, :focus) {
    font-family: FiraSansSemiBold;
}
.contentDropDown button:is(:hover, :focus) li {
    border-color: #14141475;
}

#room .normalInputManyElements {
    padding: 0 5px;
}
#room .normalInputManyElements input {
    text-align: center;
}
#room .content > div {
    margin: 20px 0;
}

/* BACKGROUND CREATION */
.foregroundCreation {
    background: #ffffffce;
    width: 100%;
    height: 105%;
    position: absolute;
    top: 0;
    left: 0;
}

/* POPUP TYPE PROPERTIE */
.bigPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 998;

    background: #ffffff;
    border-radius: 25px;
    padding: 40px 50px;
}
.bigPopup__topLine {
    display: flex;
    margin-bottom: 40px;
}
.bigPopup__topLine .title {
    margin-bottom: 0;
    margin-right: auto;
}
.closeButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popupContainer .popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 997;
    background: #eef0f280;
}

/* PHOTO */
#photo .content {
    height: 250px;
}
.content__dlPhotos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
    font-size: 1em;
    color: #141414;
    border-radius: 2.5px;
    border: 1px dashed #14141450;
}
.content__dlPhotos > div {
    width: 40px;
    aspect-ratio: 1/1;
    background: #eec643;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.content__dlPhotos:hover > div,
.content__dlPhotos:focus > div {
    background: #e1bb41;
    transition: background-color 0.3s ease-out;
}

#photo__button {
    display: flex;
    align-items: center;
}
#photo__button button:first-child {
    margin-right: 50px;
}
#addPhoto {
    width: auto;
    padding-right: 50px;
    padding-left: 50px;
    border: 2px solid #14141475;
    color: #141414;
    margin: 40px 0 0 0;
    transition: border-color 0.2s ease-out;
}
#addPhoto:hover,
#addPhoto:focus {
    border-color: #141414;
}

.content__showPhotos {
    display: flex;
    width: 90%;
    height: 100%;
    overflow-x: scroll;
}
.content__showPhotos.desactivate {
    display: none;
}
.content__showPhotos .photo {
    border-radius: 2.5px;

    background-image: url(../assets/home/home-bg-blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    aspect-ratio: 1/1;
    margin-right: 15px;
    padding: 5px;
}
.content__showPhotos .photo .photo__line {
    display: flex;
    justify-content: flex-end;
}
.content__showPhotos .photo .photo__line .closeButton {
    width: 30px;
    aspect-ratio: 1/1;
    background: #eec643;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__showPhotos .photo.firstPhoto .photo__line {
    justify-content: space-between;
}
.content__showPhotos .photo.firstPhoto .photo__line p {
    padding: 5px;
    background: #eec643;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}

/********************** USER INDICATION ADVANCMENT FORM */
#userIndicationFormStatus {
    position: fixed;
    top: 100px;
    right: 380px;

    display: flex;
    flex-direction: column;

    width: 300px;
    padding: 25px 40px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

#userIndicationFormStatus > p {
    font-size: 0.9em;
}

#userIndicationFormStatus > article {
    display: grid;
    grid-template-columns: 25px auto;
    grid-template-rows: auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.verticalLine {
    grid-area: 1 / 1 / 2 / 2;

    width: 2px;
    height: 12px;
    border-radius: 10px;
    margin: 5px auto;
}
.circle {
    grid-area: 2 / 1 / 3 / 2;

    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: auto;
}
#userIndicationFormStatus .content {
    grid-area: 2 / 2 / 3 / 3;

    margin-left: 10px;
    color: #2e2e2e;
}

/* normal */
.verticalLine,
.circle {
    background: #a1a1a1;
}
/* validate */
.validate :is(.verticalLine, .circle) {
    background: #eec643;
}
/* in progress */
.inprogress :is(.verticalLine, .circle) {
    background: #141414;
}
/* text validate & progress text */
:is(.validate, .inprogress) .content {
    color: #141414;
}

/* background image */
.validate .circle {
    background-image: url("../assets/icons/confirm-black.png");
    background-position: center;
    background-repeat: no-repeat;
}
.inprogress .circle {
    background-image: url("../assets/icons/arrow-white.png");
    background-position: center top;
    background-repeat: no-repeat;

    transition-timing-function: ease-out;
    animation-duration: 0.2s;
    animation-name: comeDown;
}

@keyframes comeDown {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0px);
    }
}
