.formBoxAuth.popupDesactivate {
    display: none;
}

.returnButton {
    background: #14141425;
    margin: 0 20px;
}
.returnButton:hover {
    background: #14141450;
}


#signinRedirection1, #signinRedirection2{
    font-size: 1em;
}