/* FONTS */
@font-face {
    font-family: "CarterOne";
    src: url("../../fonts/Carter_One/CarterOne-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "FiraSansRegular";
    src: url("../../fonts/Fira_Sans/FiraSans-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "FiraSansSemiBold";
    src: url("../../fonts/Fira_Sans/FiraSans-SemiBold.ttf");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

/* TEXT */
h1 {
    background: #eec643;
    padding: 10px 0;
    margin-bottom: 45px;
    width: 100%;
    text-align: center;

    font-family: CarterOne;
    font-size: 1.6em;
    color: #011638;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
p {
    font-family: "FiraSansRegular";
    font-size: 1em;

    width: 500px;
}
#emailTextContent p {
    margin-bottom: 20px;
}
#emailTextContent p:last-child {
    margin-bottom: 0px;
}

/* BUTTON */
#emailLinkContainer {
    margin: 60px auto;
}
#emailLinkReset {
    padding: 15px 35px;
    background-color: #eec643;
    border: none;
    border-radius: 5px;
    color: #141414;
    cursor: pointer;
    font-family: FiraSansSemiBold;
    font-size: 1.2em;
    text-decoration: none;
}

/* BOTTOM LINE */
#emailBottomLine {
    height: 30px;
    width: 100%;
    background: #011638;
    margin-top: 45px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
